.About {
  background-color: white;
}

h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}
.blah {
  height: 800px;
  width: 80%;
  margin: 0 auto;
}

.bigIcon {
  font-size: 40px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

